.vol-aside {
  height: 100%;
  position: absolute;
  float: left;
  overflow: hidden;
  transition: all 0.1s linear;
}
.vol-menu {
  border: 0 !important;
}
.vol-aside .tac {
  text-align: left;
}
.vol-aside .header {
  text-align: center;
  position: absolute;
  height: 74px;
  position: relative;
  line-height: 74px;
}
.vol-aside .vol-menu {
  position: absolute;
  width: 100%;
  top: 73px;
  bottom: 0;
  background: white;
  border-right: 1px solid #e3e3e3;
}
.vol-aside .vol-menu ::v-deep(.ivu-menu) {
  text-align: left;
  position: unset;
  width: 100% !important;
}
.vol-aside .vol-menu ::v-deep(.is-horizontal) {
  display: none !important;
}
.vol-aside .vol-menu ::v-deep(.is-vertical) {
  width: 2px;
  right: -1px;
}
.vol-container {
  min-width: 800px;
  right: 0;
  display: inline-block;
  position: absolute;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
}
.vol-container .vol-path {
  position: relative;
  width: 100%;
  display: inline-block;
  border-bottom: 1px solid #eee;
}
.vol-container .vol-path span {
  position: relative;
  margin-right: 10px;
  color: #969696;
}
.vol-header {
  height: 74px;
  width: 100%;
  position: relative;
  display: flex;
  border-bottom: 1px solid #eee;
}
.vol-main {
  border-left: 1px solid #eee;
  position: absolute;
  width: 100%;
  bottom: 20px;
  top: 118px;
  margin: 0;
  overflow: auto;
}
.header {
  padding: 5px;
}
.header img {
  height: 100%;
  margin-right: 25px;
}
.header-info {
  padding-right: 20px;
  display: inline-block;
  height: 100%;
}
.header-info > div {
  float: left;
  height: 100%;
}
.user-header {
  background: white;
  height: 52px;
  width: 52px;
  border-radius: 50%;
  margin-right: 0px;
  left: 7px;
  position: relative;
  border: 1px solid #dfdfdf;
}
.project-name {
  line-height: 74px;
  padding: 0 50px 0 20px;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
}
.header-text {
  vertical-align: middle;
  height: 100%;
  flex: 1;
  text-align: left;
  font-size: 15px;
  left: 21px;
  line-height: 60px;
  letter-spacing: 1px;
}
.vol-header .user {
  text-align: left;
  padding: 0 12px;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.vol-header .user span:last-child {
  font-size: 12px;
}
.vol-header .settings {
  color: #d4d2d2;
  display: flex;
  align-items: center;
}
.vol-header .user span {
  position: relative;
}
.header-info:hover {
  cursor: pointer;
}
.header-navigation {
  cursor: pointer;
  box-shadow: none;
  border-bottom: 1px solid #eee;
  height: 44px;
  /* overflow: hidden; */
  display: block;
  margin: 0;
  padding: 0;
  outline: 0;
  list-style: none;
  position: relative;
  z-index: 900;
  font-weight: initial;
  margin-top: -1px;
}
.el-tabs--border-card {
  border: none;
}
.header-navigation ::v-deep(.el-tabs__item) {
  height: 34px;
  font-size: 14px;
  line-height: 34px;
  padding-bottom: 6px;
  color: #525252 !important;
  position: relative;
  margin: 0 2px !important;
  border: 1px solid #e2e2e2 !important;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.header-navigation ::v-deep(.el-tabs__item.is-active) {
  color: #1a81ea !important;
}
.header-navigation ::v-deep(.el-tabs__nav-prev),
.header-navigation ::v-deep(.el-tabs__nav-next) {
  line-height: 35px;
  padding-left: 4px;
}
.vol-header .user span:first-child {
  font-size: 15px;
  font-weight: bolder;
}
.h-link {
  line-height: 74px;
}
.h-link a {
  font-size: 14px;
  text-decoration: none;
  padding: 0px 15px;
  /* height: 60px; */
  display: inline-block;
}
img[src=''],
img:not([src]) {
  opacity: 0;
}
.vol-theme-dark .header {
  background: #1F1F1F;
}
.vol-theme-dark .vol-aside .vol-menu {
  background: #1F1F1F;
}
.vol-theme-dark .vol-header {
  background-color: #272929;
}
.vol-theme-dark .h-link a {
  transition: background-color 0.2s linear;
}
.vol-theme-dark .h-link a:hover {
  background: black;
}
.vol-theme-dark a {
  color: #f2f2f2;
}
.vol-theme-dark .header-info {
  color: #ececec;
}
.vol-theme-dark .vol-aside ::v-deep(.el-sub-menu__title) {
  background-color: #1F1F1F;
  color: #d5d5d5;
}
.vol-theme-dark .vol-aside ::v-deep(.el-sub-menu__title:hover) {
  background-color: black;
  color: #fff;
}
.vol-theme-dark .vol-aside ::v-deep(.el-menu-item) {
  background-color: #1F1F1F;
  color: #d5d5d5;
}
.vol-theme-dark .vol-aside ::v-deep(.el-menu-item:hover) {
  background-color: black;
  color: #fff;
}
.vol-theme-dark .vol-aside ::v-deep(.el-sub-menu .el-menu-item) {
  background-color: #272929;
  color: #d5d5d5;
}
.vol-theme-dark .vol-aside ::v-deep(.el-sub-menu .el-menu-item:hover) {
  background-color: black;
  color: #fff;
}
.vol-theme-dark .vol-aside ::v-deep(.is-active) {
  background-color: black !important;
  color: #fff;
}
.vol-theme-blue .header {
  background-color: #071C58;
}
.vol-theme-blue .vol-aside .vol-menu {
  background: #071C58;
}
.vol-theme-blue .vol-header {
  background-color: #0F2D7D;
}
.vol-theme-blue .h-link a {
  transition: background-color 0.2s linear;
}
.vol-theme-blue .h-link a:hover {
  background: #071C58;
}
.vol-theme-blue a {
  color: #f2f2f2;
}
.vol-theme-blue .header-info {
  color: #ececec;
}
.vol-theme-blue .vol-aside ::v-deep(.el-sub-menu__title) {
  background-color: #071C58;
  color: #d5d5d5;
}
.vol-theme-blue .vol-aside ::v-deep(.el-sub-menu__title:hover) {
  background-color: #003a8c;
  color: #fff;
}
.vol-theme-blue .vol-aside ::v-deep(.el-menu-item) {
  background-color: #071C58;
  color: #d5d5d5;
}
.vol-theme-blue .vol-aside ::v-deep(.el-menu-item:hover) {
  background-color: #003a8c;
  color: #fff;
}
.vol-theme-blue .vol-aside ::v-deep(.el-sub-menu .el-menu-item) {
  background-color: #002766;
  color: #d5d5d5;
}
.vol-theme-blue .vol-aside ::v-deep(.el-sub-menu .el-menu-item:hover) {
  background-color: #003a8c;
  color: #fff;
}
.vol-theme-blue .vol-aside ::v-deep(.is-active) {
  background-color: #003a8c !important;
  color: #fff;
}
.theme-selector {
  height: 100%;
  padding-left: 16px;
}
.theme-selector .item {
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: 5px;
  margin-bottom: 17px;
  border: 1px solid #d4d2d2;
  float: left;
  margin-right: 13px;
}
.collapse-menu {
  font-size: 21px;
  color: #fff;
  line-height: 74px;
  position: absolute;
  top: 0;
  right: 5px;
  cursor: pointer;
}
